<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="Shared/layout"
      th:with="pageName='historiaOper', pageTitle='Historia operacji'"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>[[${pageTitle}]]</title>
</head>

<body>
<div layout:fragment="custom-content">
    <article style="height: 825px;">
    <center>
        <br> <br>
        <div class="historia">
            <h1 class="nagl"> Historia operacji: </h1> <br/> <br/> <br/>
            <table class="szczegoly">
                <tr> <th> Nazwa odbiorcy </th> <th> Numer konta odbiorcy </th> <th> Kwota </th> <th> Tytuł </th> <th> Status </th> <th> Operacje </th>  </tr>
                <tr th:each="p : ${przelewList}">
                    <td th:text="${p.odbiorca_nazwa}"> </td>
                    <td th:text="${p.nr_konta_odbiorcy}"> </td>
                    <td th:text="${p.kwota}"> </td>
                    <td th:text="${p.tytul}"> </td>
                    <td th:text="${p.status}"> </td>
                    <td> <a class="btn btn-info" th:href="@{/potwierdzenie(id=*{p.id})}"> Potwierdzenie </a> </td>
                </tr>
            </table>
            <br/>
        </div>
    </center>
    </article>
</div>
</body>

</html>