<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="Shared/layout"
      th:with="pageName='index', pageTitle='Bank Horizon'"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>[[${pageTitle}]]</title>
</head>

<body>
    <div layout:fragment="custom-content">
        <article style="height: 825px;">
            <center>
                <br/> <br/>
                <h1 class="nagl"> Witamy w banku Horizon! </h1>
                <br> <br> <br>
                <img src="bitcoin.jpg" id="zdj"/>
            </center>
        </article>
    </div>
</body>

</html>
