<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="Shared/layout"
      th:with="pageName='login', pageTitle='Logowanie'"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>[[${pageTitle}]]</title>
</head>

<body>
    <div layout:fragment="custom-content" style="background-image: url(tlo.jpg); height: 849px;">
    <center>
        <br> <br>
        <div id="logForm">
            <h1 class="nagl"> Witamy w banku Horizon! </h1>
            <br/> <br/>
            <h1>Logowanie:</h1> <br>
            <div th:if="${param.error}">
                Invalid username and password.
            </div>
            <div th:if="${param.logout}">
                You have been logged out.
            </div>

            <form th:action="@{/login}" method="post">
                <div>
                    <span class="fa fa-user" style="padding: 8px;"></span><input type="text" required name="username" placeholder="Nazwa użytkownika"/>
                </div>
                <div>
                    <span class="fa fa-lock" style="padding: 8px;"></span><input type="password" required name="password" placeholder="Hasło"/>
                </div>
                <br>
                <input type="submit" class="btn btn-primary mb-2" value="Zaloguj się!"/>
            </form>
            <br/>
            <a href="/add"> Otwórz konto osobiste </a>
        </div>
    </center>
</div>
</body>

</html>